<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Coin Info</h1>

        <%=coin.coin; %>

        <form action="/coin/<%=coin.id%>?_method=PUT" method="POST">
            <!-- Coin: <input type="text" name="coin" /><br/>
            Symbol: <input type="text" name="Symbol" /><br/> -->
            Info: <input type="text" name="info" /><br/>
            Exchange: <input type="text" name="exchange" /><br/>
            Meme: <input type="text" name="img" /><br/> 
            Message: <input type="text" name="message" /><br/>
            <input type="submit" name="" value="Edit Item"/>
        </form>
      
        
    </body>
</html>