<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Coin Index</h1>
         
        <% for(let i = 0; i < coin.length; i++){ %>
            
            
                <a href="/coin/<%=coin[i].id; %>"><%=coin[i].coin; %></a>
                <br>

            

            <% } %>
            
        <nav>
            <a href="/coin/new">Add a New Coin</a>
        </nav>
        
       

        
    </body>
</html>