<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <!-- LOGIN WELCOME -->
        <h1>
            <% if(currentUser) { %>
                Welcome <%=currentUser.username%>!
            <% } else { %>
                Welcome!
            <% } %>

        </h1>
         
        <% for(let i = 0; i < coin.length; i++){ %>
            
            
                <a href="/coin/<%=coin[i].id; %>"><%=coin[i].coin; %></a>
                <br>

            

            <% } %>
            
        <nav>
            <a href="/coin/new">Add a New Coin</a>
        </nav>

<!-- LOGOUT -->

<% if(currentUser) { %>
    <li>
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </li>
<% } %>
        
       

        
    </body>
</html>