<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <!-- LOGIN WELCOME -->
      <div class ="container">
      <h1>
         <% if(currentUser) { %>
         Welcome to Cipher Note <%=currentUser.username%>!
         <% } else { %>
         Cipher Note
         <% } %>
      </h1>
      
      <div class="coin-index">
        <h2>Coin Index</h2>
        <% for(let i = 0; i < coin.length; i++){ %>
        <a href="/coin/<%=coin[i].id; %>"><%=coin[i].coin; %></a>
        <br>
        <% } %>
    </div>

    <br>

    <div class="nav">
      <nav>
         <li><a href="/coin/new">Add a New Coin</a></li> 
         <li><a href="/sessions/new">Log In</a></li>
         <li><a href="/users/new">Register</a></li>
      </nav>
    </div>
      <!-- LOGOUT -->
    <div class="logout">
      <% if(currentUser) { %>
      <li>
         <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
         </form>
      </li>
      <% } %>
        </div>

    </div>

   </body>
</html>