<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Coin Index</h1>
        
        <% for(let i = 0; i < coin.length; i++){ %>
            
            
                Coin: <%=coin[i].coin; %>
                <br>
                Ticker: <%=coin[i].ticker; %>
                <br>
                Info: <%=coin[i].info; %>
                <br>
                Trade: <%=coin[i].exchange; %>
            

            <% } %>
            
        <nav>
            <a href="/coin/new">Add a New Coin</a>
        </nav>

        
    </body>
</html>