<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
<body>
    <h1>Add a Coin</h1>
    <form action="/coin" method="POST">
        Coin: <input type="text" name="coin" /><br/>
        Symbol: <input type="text" name="Symbol" /><br/>
        Info: <input type="text" name="info" /><br/>
        Exchange: <input type="text" name="exchange" /><br/>
        MEME: <input type="text" name="img" /><br/> 
        Message: <input type="text" name="message" /><br/>
        <input type="submit" name="" value="Add Coin"/>
    </form>
    
</body>
</html>