<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Coin Info</h1>

        <%=coin.coin; %>

        <!-- EDIT -->
        <a href="/coin/<%= coin.id; %>/edit">Edit</a>

         <!--  DELETE  -->
			<form action="/coin/<%= coin.id; %>?_method=DELETE" method="POST" >
                <input type="submit" value="DELETE"/>
        </form>



       

       
        <nav>
            <a href="/coin">Back to Coin Index</a>

        </nav>
    </body>
</html>